<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.birdseer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirdSeer">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/button_backgroundcolor" />

        <activity
            android:name=".elamanHavainnot"
            android:exported="false" />
        <activity
            android:name=".vuodenHavainnot"
            android:exported="false"
            android:label="Havainnot" />
        <activity
            android:name=".paivanHavainnot"
            android:exported="false" />
        <activity
            android:name=".havaintoValikko"
            android:exported="false" />
        <activity
            android:name=".info"
            android:exported="false" />
        <activity
            android:name=".paivaSijainti"
            android:exported="false"
            android:label="Lisää päivämäärä ja sijainti" />
        <activity
            android:name=".valitseLajit"
            android:exported="false"
            android:label="Valitse laji" />
        <activity
            android:name=".mihinLajit"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>